/**
 * 3.0 Basic Structure
 * -----------------------------------------------------------------------------
 */

.site {
    background-color: #fff;
    max-width: 1260px;
    position: relative;
}

.main-content {
    width: 100%;
}
